cloud_id                  = "123"
folder_id                 = "1235"
zone                      = "ru-central1-a"
public_key_path           = "~/.ssh/hssh.pub"
subnet_id                 = "123"
service_account_key_file  = "~/key.json"
private_ssh_path          = "~/.ssh/ssh"
reddit_disk_image         = "123"
count_reddit_app          = "3"
